<p  class="text-center" style="height: 30px; width: auto; font-weight: 400;background-color: skyblue;">country-page !</p>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Select a region</h5>
        <button type="button" class="form-control btn btn-info mb-3">Asia</button><br>
        <button type="button" class="form-control btn btn-success mb-3">Africa</button><br>
        <button type="button" class="form-control btn btn-warning mb-3">Europe</button><br>
        <button type="button" class="form-control btn btn-secondary mb-3">Americas</button>
      </div>

      <div class="col-md-4">
        <h5>Select a country</h5>
        <input type="text" name="India" class="form-control mb-3" value="India" id="">
        <input type="text" name="south-korea" class="form-control mb-3" value="Chaina" id="">
        <input type="text" name="chaina" class="form-control mb-3" value="Japan" id="">
        <input type="text" name="India" class="form-control mb-3" value="South-Korea" id="">
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md mb-2">
            <input type="text" name="text" class="form-control" placeholder="Asia/India" id="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <img src="assets/IND.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-10">
            <p><b>India (IND)</b> <br> New Delhi</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <button type="text" name="text" class="form-control text-start" placeholder="" id="">Demonym <br> Indian</button>
          </div>
          <div class="col-md-6 mb-2">
            <button type="text" name="text" class="form-control text-start" placeholder="" id="">Calling Code <br>+91</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-2">
            <button type="text" name="text" class="form-control text-start" placeholder="" id="">Currency <br> Indian Rupee</button>
          </div>
          <div class="col-md-6 mb-2">
            <button type="text" name="text" class="form-control text-start" placeholder="" id="">Population <br>1295210000</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
